<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
</head>
<body>

    {% for book in books %}
   <div class="card" style="width: 18rem;">
       {% if book.image %}
  <img style='width: 300px; height: 500px; src="{{ book.image.url }}' class="card-img-top" alt="...">
       {% else %}
       <img style="width: 300px; height:500px;" src="{% static 'img/default-book.png'%}" class="img-fluid" alt="...">
    {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endfor %}
</body>
</html>